@import "@taiga-ui/styles/mixins/theme.less";

[data-adapttable-taiga-root] {
  .taiga-ui-theme();
  min-inline-size: 0;
  max-inline-size: 100%;
  font: var(--tui-font-text-m);

  html[data-theme="dark"] &:not([tuiTheme="light"]),
  html.dark &:not([tuiTheme="light"]) {
    .tui-theme-dark();
  }

  [data-taiga-part="filters-popover"],
  [data-taiga-part="column-menu-panel"],
  [data-taiga-part="views-panel"] {
    margin: 0;
    border: 0;
    padding: 1rem;
    max-inline-size: calc(100vw - 2rem);
    max-block-size: min(35rem, calc(100dvh - 3rem));
    overflow: auto;
    background: var(--tui-background-elevation-1);
    color: var(--tui-text-primary);
  }

  [data-taiga-part="filters-header"],
  [data-taiga-part="filters-footer"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
